@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .ibg img {
    display: none; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

aside,
nav,
footer,
header,
section {
  display: block; }

html,
body {
  height: 100%;
  min-width: 320px; }

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: "Lato"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

body {
  color: #848789;
  font-size: 16px; }
  body.lock {
    overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1140px;
  padding: 0px 20px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1112px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 991.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 35px; }
  .header__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 85px; }
  .header__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0px, 0px);
    -webkit-transform: translate3d(-50%, 0px, 0px);
    -ms-transform: translate3d(-50%, 0px, 0px);
    -o-transform: translate3d(-50%, 0px, 0px);
    -moz-transform: translate3d(-50%, 0px, 0px);
    z-index: 2; }
  @media (max-width: 767px) {
    .header {
      top: 15px; } }

.menu__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }
  .menu__list li {
    position: relative;
    padding: 0px 37.5px; }
    .menu__list li:nth-child(2) {
      padding: 0px 110px 0px 37.5px; }
    .menu__list li:nth-child(3) {
      padding: 0px 37.5px 0px 110px; }
    .menu__list li:after {
      content: '';
      width: 2px;
      height: 2px;
      background-color: #4d4959;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: 0;
      margin: -1.5px 0px 0px 0px; }
    .menu__list li:nth-child(2):after, .menu__list li:last-child:after {
      display: none; }

.menu__link {
  font-size: calc(10px + 3 * ((100vw - 320px) / 1280));
  font-weight: bold;
  letter-spacing: 2.6px;
  color: #4d4959;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .menu__link:hover {
    color: #67c3a0; }

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    padding: 150px 0px 20px 0px;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    -ms-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .menu__body.active {
      transform: translate3d(0px, 0px, 0px);
      -webkit-transform: translate3d(0px, 0px, 0px);
      -ms-transform: translate3d(0px, 0px, 0px);
      -o-transform: translate3d(0px, 0px, 0px);
      -moz-transform: translate3d(0px, 0px, 0px); }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .menu__list li {
      padding: 0px 0px 45px 0px; }
      .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
        padding: 0px 0px 45px 0px; }
        .menu__list li:nth-child(2):after, .menu__list li:nth-child(3):after {
          display: block; }
      .menu__list li:last-child {
        padding: 0; }
      .menu__list li:after {
        background-color: #fff;
        width: 4px;
        height: 4px;
        right: 50%;
        top: 40px;
        margin: 0px -2px 0px 0px; }
  .menu__link {
    color: #fff;
    font-size: 20px; } }

@media (max-width: 767px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 25px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5; }
    .icon-menu span {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      position: absolute;
      width: 100%;
      height: 2px;
      top: 8px;
      left: 0;
      background-color: #4d4959; }
      .icon-menu span:first-child {
        top: 0; }
      .icon-menu span:last-child {
        top: auto;
        bottom: 0; }
    .icon-menu.active span {
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -webkit-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      background-color: #fff; }
      .icon-menu.active span:first-child {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 8px; }
      .icon-menu.active span:last-child {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: 8px; } }

.main-screen {
  min-height: 100%; }
  .main-screen__bg {
    min-height: 100vh; }

.about {
  padding: 120px 0;
  background-color: #f7f7f7; }
  @media (max-width: 800px) {
    .about {
      padding: 80px 0; } }
  @media (max-width: 500px) {
    .about {
      padding: 30px 0; } }

.block {
  text-align: center; }
  .block__icon {
    margin: 0px 0px 30px 0px; }
  .block__title {
    font-weight: 700;
    font-size: calc(16px + 2 * ((100vw - 320px) / 1280));
    letter-spacing: 3.6px;
    color: #353738;
    margin: 0px 0px 30px 0px;
    text-transform: uppercase;
    line-height: 20px; }
  .block__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1280));
    line-height: 1.89;
    color: #848789; }
    .block__text_b {
      text-align: justify;
      font-size: calc(12px + 4 * ((100vw - 320px) / 1280));
      line-height: 30px; }
      .block__text_b:after {
        content: '';
        display: block;
        margin: 35px auto 0;
        width: 50px;
        height: 1px;
        background-color: #ebebeb; }

@media (max-width: 1024px) {
  .block__text_b:after {
    margin: 15px auto 0; } }

.brands_rev .brands__column {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }
  .brands_rev .brands__column_b {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

.brands__row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }

.brands__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%; }
  .brands__column_b {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 66.667%;
    flex: 0 1 66.667%; }

.brands__content {
  padding: 70px 65px 55px;
  position: relative; }
  .brands__content:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin: 0px 0px 0px -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    z-index: 1; }

.brands__image {
  padding: 0px 0px 37.51% 0px; }

@media (max-width: 1439px) {
  .brands__content {
    padding: 55px 35px; } }

@media (max-width: 1024px) {
  .brands_last .brands__column:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .brands_last .brands__column:nth-child(2) {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .brands_last .brands__column:nth-child(3) {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.item {
  height: 100%;
  display: block;
  position: relative; }
  .item__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(100, 194, 158, 0.5);
    opacity: 0;
    visibility: hidden; }
    .item__logo span {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      color: #ffffff;
      text-transform: uppercase;
      margin: 10px 0px 0px 0px; }
  .item__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .item:hover .item__logo {
    opacity: 1;
    visibility: visible; }

@media (max-width: 1024px) {
  .item {
    height: auto;
    padding: 0px 0px 50% 0px; } }

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px 0; }
  .slider__item {
    text-align: center; }
  .slider__icon {
    margin: 0px 0px 35px 0px; }
  .slider__title {
    margin: 0px 0px 20px 0px;
    font-size: calc(14px + 4 * ((100vw - 320px) / 1280));
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #353738; }
    .slider__title span {
      font-weight: 300;
      color: #848789; }
  .slider__text {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1280));
    font-style: italic;
    line-height: 1.42;
    color: #848789; }
  @media (max-width: 1024px) {
    .slider {
      padding: 80px 0px 30px 0px; } }
  @media (max-width: 425px) {
    .slider {
      padding: 30px 0px 30px 0px; } }

.slider__body .slick-slider {
  position: relative; }

.slider__body .slick-track {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.slider__body .slick-list {
  overflow: hidden; }

.slider__body .slick-dots {
  padding: 100px 0px 0px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .slider__body .slick-dots li button {
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #c8c8c8;
    background-color: transparent;
    margin: 0px 9px 0px 0px; }
  .slider__body .slick-dots li:last-child {
    margin: 0; }
  .slider__body .slick-dots li.slick-active button {
    background-color: #a9afb3; }
  @media (max-width: 1024px) {
    .slider__body .slick-dots {
      padding: 50px 0px 0px 0px; } }
  @media (max-width: 425px) {
    .slider__body .slick-dots {
      padding: 30px 0px 0px 0px; } }

.shop__body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }

.shop__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 16.6665%;
  flex: 0 1 16.6665%; }
  .shop__col_big {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%; }

.shop__footer {
  background-color: #282f35;
  padding: 75px 0px;
  text-align: center; }

.shop__btn {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 55px;
  font-size: calc(12px + 2 * ((100vw - 320px) / 1280));
  font-weight: bold;
  letter-spacing: 2.8px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }
  .shop__btn:hover {
    background-color: #fff;
    color: #000; }

@media (max-width: 1100px) {
  .shop__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .shop__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    .shop__col:first-child {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
    .shop__col:last-child {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
  .shop__footer {
    padding: 40px 0; } }

.block-shop {
  height: 100%; }
  .block-shop__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0; }
  .block-shop__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
  .block-shop__item {
    height: auto;
    padding: 0px 0px 50% 0px; }
    .block-shop__item_big {
      padding: 0px 0px 200.5% 0px; }
    .block-shop__item_lit {
      padding: 0px 0px 100% 0px; }

.subscribe__body {
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
  padding: 110px 0; }

.subscribe__logo {
  margin: 0px 0px 39px 0px; }

.subscribe__label {
  font-size: 24px;
  font-style: italic;
  line-height: 1.42;
  color: #848789;
  margin: 0px 0px 35px 0px; }

.subscribe__form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0; }

.subscribe__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0px 8px 0px 0px; }
  .subscribe__input input {
    width: 100%;
    height: 69px;
    border: solid 1px #d3d7d9;
    background-color: #ffffff;
    font-size: 20px;
    font-style: italic;
    line-height: 1.2;
    color: #929292;
    padding: 28px 0px 28px 24px; }
    .subscribe__input input.focus {
      color: #000;
      font-style: normal; }
    .subscribe__input input.err {
      border: 1px solid red; }

.subscribe__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 126px;
  flex: 0 0 126px; }

.subscribe__btn {
  width: 100%;
  height: 69px;
  background-color: #64c29e;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase; }

@media (max-width: 768px) {
  .subscribe__body {
    padding: 50px 0; } }

@media (max-width: 500px) {
  .subscribe__form {
    display: block; }
  .subscribe__input {
    padding: 0px 0px 8px 0px; } }

.footer {
  padding: 100px 0px;
  background: #f7f7f7; }
  .footer__row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__col {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%; }
  .footer__address {
    font-size: 14px;
    font-style: italic;
    line-height: 1.29;
    color: #848789; }
    .footer__address:first-child {
      font-size: 16px;
      font-weight: bold;
      font-style: normal; }
  @media (max-width: 1100px) {
    .footer {
      padding: 50px 0px; } }
  @media (max-width: 500px) {
    .footer {
      padding: 30px 0px; }
      .footer__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center; }
      .footer__col {
        margin: 0px 0px 20px 0px; }
        .footer__col:last-child {
          margin: 0; } }

.social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .social__link {
    margin: 0px 7.5px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .social__link:hover {
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }

.dev {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .dev__text {
    font-size: 14px;
    line-height: 1.29;
    color: #848789;
    font-style: italic;
    padding: 0px 9px 0px 0px; }
